<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--
        TODO: Use a content security policy to only allow loading images from https or from our extension directory,
        and only allow scripts that have a specific nonce.
        -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{{STYLE_VSCODE_URI}}" rel="stylesheet" />
    <link href="{{STYLE_MAIN_URI}}" rel="stylesheet" />
  </head>
  <body>
    <script src="{{SCRIPT_JQUERY}}"></script>
    <script src="{{SCRIPT_MAIN_URI}}"></script>
    <ul class="menubar">
      <li><a id="navbar_item_detector_filters">Detector Filters</a></li>
      <li><a id="navbar_item_about">About</a></li>
    </ul>
    <div id="master_container_panel">
      <div id="detector_filter_panel" class="container_panel disable-select">
        <h3 id="detector_filter_header">Detector Filters</h3>
        <label
          ><input type="checkbox" id="chk_detectors_enabled" /><b
            >Detectors Enabled</b
          ></label
        >
        <ul id="detector_filter_list"></ul>
        <button type="button" id="btn_toggle_all_detector_filters">
          Toggle All
        </button>
        <br />
        <hr />
      </div>

      <div id="about_panel" class="container_panel disable-select">
        <h3 id="about_header">About</h3>
        <ul>
          <li><a href="https://trailofbits.com">Trail of Bits</a></li>
          <li>
            <a href="https://github.com/crytic/slither-vscode"
              >slither-vscode GitHub</a
            >
          </li>
        </ul>
        <br />
        <hr />
      </div>
    </div>
    <br />
  </body>
  <footer>
    <button type="button" id="btn_save_settings">Save Settings</button>
  </footer>
</html>
