<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--
        TODO: Use a content security policy to only allow loading images from https or from our extension directory,
        and only allow scripts that have a specific nonce.
        -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{STYLE_VSCODE_URI}}" rel="stylesheet">
        <link href="{{STYLE_MAIN_URI}}" rel="stylesheet">

    </head>
    <body>
        <script src="{{SCRIPT_JQUERY}}"></script>
        <script src="{{SCRIPT_MAIN_URI}}"></script>
        <ul class="menubar">
            <li><a id="navbar_item_compilations">Compilation</a></li>
            <li><a id="navbar_item_detector_filters">Detector Filters</a></li>
            <li><a id="navbar_item_about">About</a></li>
        </ul>
        <div id="master_container_panel">
            <div id="compilation_panel" class="container_panel disable-select">
                <h3 id="compilation_header">Compilation</h3>
                <select id="dropdown_compilation_group"></select>
                <div id="add_remove_compilation_group_panel">
                    <button type="button" id="btn_add_compilation_group">+</button>
                    <button type="button" id="btn_remove_compilation_group">-</button>
                </div>
                <br><br>

                <div id="compilation_group_panel">
                    <label>Workspace: <select id="dropdown_workspace_name"></select></label>
                    <label>Target Type:</label> 
                    <label title="Basic compilation includes one target which is a path to either a single Solidity file, a directory of files, or the path to the root of a compilation/unit test project such as Truffle, Hardhat, etc.">
                        <input type="radio" name="compilation_type" id="radio_compilation_type_basic" value="basic" checked="checked">
                        Basic
                    </label>
                    <label title="Custom compilation involves constructing a standard JSON compilation manifest from a list of targets. Targets can be added using context menu options in the Explorer. They can also be observed/removed below.">
                        <input type="radio" name="compilation_type" id="radio_compilation_type_solc_standard_json" value="solc_standard_json">
                        Standard JSON (Loose Files)
                    </label>
                    <div id="compilation_panel_basic" class="compilation_panel" style="display:block">
                        <label>Target(s): <input type="text" id="compilation_target" value="."></label>
                    </div>
                    <div id="compilation_panel_custom" class="compilation_panel" style="display:none">
                        <label>Target(s):</label>
                        <ul id="compilation_targets"></ul>
                        <button type="button" id="btn_autogenerate_standard_json">Autogenerate</button>
                    </div>
                </div>
                <br>
                <hr>
            </div>
            
            <div id="detector_filter_panel" class="container_panel disable-select">
                <h3 id="detector_filter_header">Detector Filters</h3>
                <ul id="detector_filter_list"></ul>
                <button type="button" id="btn_toggle_all_detector_filters">Toggle All</button>
                <br>
                <hr>
            </div>

            <div id="about_panel" class="container_panel disable-select">
                <h3 id="about_header">About</h3>
                <ul>
                    <li><a href="https://trailofbits.com">Trail of Bits</a></li>
                    <li><a href="https://github.com/crytic/slither-vscode">slither-vscode GitHub</a></li>
                <ul>
                <br>
                <hr>
            </div>
        </div>
        <br>
    </body>
    <footer>
        <button type="button" id="btn_save_settings">Save Settings</button>
    </footer>
</html>